@import 'variables.scss';

input[type=text], select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $borderColor;
}

select {
    background: $white;
    cursor: pointer;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 3px lighten($primary, 20%);
}

input[type=radio],
input[type=checkbox] {
    -webkit-appearance: none;
    background: $white;
    border: 1px solid $borderColor;
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

input[type=radio] {
    border-radius: 50%;
}
input[type=radio]:checked {
    border: 5px solid $primary;
    padding: 3px;
}

input[type=checkbox]:checked {
    background-color: $primary;
    border-color: $primary;
}
/* 2713, 2714 */
input[type=checkbox]:checked:after {
    content: '\2714';
    color: $white;
    position: absolute;
    top: -3px;
    left: 0px;
}

label {
    display: block;
    cursor: pointer;
}

textarea {
    display: block;
    min-height: 3em;
    height: 5em;
    border-radius: 5px;
    resize: vertical;
}