@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono&display=swap');

// File imports
@import 'variables.scss';

* {
    font-family: $regularFont;
    font-size: 18px;
    margin: 0px;
}

main {
    padding: 32px 64px;
}

button, input[type=checkbox],
input[type=radio], select, label {
    cursor: pointer;
}

h1, h2,h3, h4, h5, h6, p,
input[type=text], input[type=number],
select, header,
article, ol, ul, textarea,
label, section, div {
    margin: 0 0 16px 0;
}

input[type=text], textarea, table,
input[type=number] {
    width: 100%;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1.125em;
}
h6 {
    font-size: 1em;
}

ul, ol {
    padding: 0 0 0 32px;
    line-height: 2;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 3px lighten($primary, 20%);
}

button, pre, textarea, article,
input, select {
    border-radius: 5px;
}

select {
    background: $white;
}

button, header, footer,
*::selection, th {
    background: $primary;
    color: $white;
}

button {
    border: none;
    padding: 8px 16px;

    &:hover {
        background: darken($primary, 20%);
    }
}

a {
    color: $primary;

    &:focus {
        box-shadow: none;
    }
}

pre {
    font-family: $monoFont;
    padding: 16px 32px;
    overflow: auto;
    line-height: 1.5;
    background: darken($white, 5%);
}

header, footer {
    padding: 32px;
}

footer {
    background: rgb(75,75,75);
}

section {
    padding: 16px;
}

/* 
    Form
*/
input, select, article, textarea {
    padding: 10px;
    border: 1px solid $borderColor;
}

article {
    padding: 16px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
}

input[type=radio],
input[type=checkbox] {
    -webkit-appearance: none;
    padding: 8px;
    border-radius: 4px;
    position: relative;
}

input[type=radio] {
    border-radius: 50%;
}
input[type=radio]:checked {
    border: 5px solid $primary;
    padding: 4px;
}

input[type=checkbox]:checked {
    background: $primary;
    border-color: $primary;
}
/* 2713, 2714 */
input[type=checkbox]:checked:after {
    content: '\2714';
    color: $white;
    position: absolute;
    top: -3px;
    left: 1px;
}

textarea {
    display: block;
    min-height: 3em;
    resize: vertical;
}

/* 
    Table
*/
table {
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background: darken($white, 6%);
}