/* 
    Variables
*/

// Colors
$primary: rgb(86, 88, 241);
$white: #fff;
$offWhite: #ccc;

// Fonts
$regularFont: 'Ubuntu', sans-serif;
$monoFont: 'Ubuntu Mono', monospace;

/* 
    Derived variables
*/
$borderColor: $offWhite;