/* 
    Variables
*/

// Colors
$primary: rgb(255, 72, 72);
$white: #fff;
$offWhite: #ccc;

// Fonts
$regular: 'Ubuntu', sans-serif;
$mono: 'Ubuntu Mono', monospace;

/* 
    Derived variables
*/
$borderColor: $offWhite;